{% include 'tv_show/header.html' %}
<center>
<div class="card" style="width: 18rem;">
  <img src="{{tv_show_id.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h1 class="card-title"><b>{{tv_show_id.title}}</b></h1>
    <p class="card-text">{{tv_show_id.description}}</p>
      <p class="card-text">+{{tv_show_id.age_restrictions}}</p>
      <p class="card-text">Кино(сериал): <a href="{{tv_show_id.url_tv_show}}">{{tv_show_id.url_tv_show}}</a>}</p>
      <p class="card-text">Компания: {{tv_show_id.company_tv}}</p>
      <p class="card-text">Номер телефона: {{tv_show_id.number_tv_show}}</p>
      <p class="card-text">Инстаграмм: <a href=" {{tv_show_id.instagram}}">{{tv_show_id.instagram}}</a></p>
      <p class="card-text">Информация о компании: <a href="{{tv_show_id.about_tv_show}}">{{tv_show_id.about_tv_show}}</a></p>
      <p class="card-text">Дата создания: {{tv_show_id.created_at}}</p>
      <button><a href="/tv_show/{{tv_show_id.id}}/delete/">Delete</a></button>
      <button><a href="/tv_show/{{tv_show_id.id}}/update/">Update</a></button>
  </div>
</div>
</center>

{% include 'tv_show/footer.html' %}
